In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Droping the columns that are not needed
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
## Encode the categorical variables like gender and Geography
label_gender = LabelEncoder()
data['Gender'] = label_gender.fit_transform(data['Gender'])
data.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0

In [5]:
## One Hot encoding the Geography column
from sklearn.preprocessing import OneHotEncoder
##ohe = OneHotEncoder(sparse_output=False)
ohe = OneHotEncoder()
geo_encoder = ohe.fit_transform(data[['Geography']])
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [6]:
ohe.get_feature_names_out(['Geography']) ## tells me all the features of the geography column
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(), columns= ohe.get_feature_names_out(['Geography']))
geo_encoder_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [7]:
# combining the above values with the original data
data = pd.concat([data.drop('Geography', axis = 1),geo_encoder_df], axis = 1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
## Saving the encoders and the scaler 
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_gender,file)
with open('ohe_geography.pkl','wb') as file:
    pickle.dump(ohe,file)

In [9]:
## Dividing the dataset into independent and dependent variables
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
X = data.drop('Exited', axis = 1)
Y = data['Exited']

## Splitting the dataset into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X,Y ,test_size = 0.2, random_state= 42)

## Scaling the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [12]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [13]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [14]:
## Training the model
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [15]:
## Building the model
model = Sequential([
    Dense(64, activation = 'relu', input_shape = (X_train.shape[1],)),
    Dense(32, activation = 'relu'),
    Dense(1,activation= 'sigmoid')
])

d:\Tensorflow Working\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [16]:
model.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 64)                        832

 dense_1 (Dense)                  (None, 32)                      2,080

 dense_2 (Dense)                  (None, 1)                          33

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate = 0.01 )

In [18]:
model.compile(optimizer=opt, loss = 'binary_crossentropy', metrics = ['accuracy'])

In [19]:
## Seting the tensorboard callback
from tensorflow.keras.callbacks import EarlyStopping,  TensorBoard 
log_dir ="logs/fit/"+datetime.datetime.now().strftime( "%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq = 1)

In [20]:
## Seting the early stopping
earlystopping_callback = EarlyStopping(monitor = 'val_loss', patience = 5, restore_best_weights=True)

In [21]:
## Training the model 
history = model.fit(X_train, Y_train, validation_data=(X_test, Y_test), epochs = 100,
                    callbacks = [earlystopping_callback, tensorflow_callback] )

Epoch 1/100
250/250  3s 6ms/step - accuracy: 0.8112 - loss: 0.4371 - val_accuracy: 0.8555 - val_loss: 0.3516
Epoch 2/100
250/250  1s 4ms/step - accuracy: 0.8514 - loss: 0.3520 - val_accuracy: 0.8485 - val_loss: 0.3656
Epoch 3/100
250/250  1s 4ms/step - accuracy: 0.8552 - loss: 0.3640 - val_accuracy: 0.8570 - val_loss: 0.3501
Epoch 4/100
250/250  1s 4ms/step - accuracy: 0.8649 - loss: 0.3389 - val_accuracy: 0.8645 - val_loss: 0.3412
Epoch 5/100
250/250  1s 4ms/step - accuracy: 0.8628 - loss: 0.3375 - val_accuracy: 0.8615 - val_loss: 0.3436
Epoch 6/100
250/250  1s 4ms/step - accuracy: 0.8612 - loss: 0.3374 - val_accuracy: 0.8590 - val_loss: 0.3471
Epoch 7/100
250/250  1s 4ms/step - accuracy: 0.8597 - loss: 0.3401 - val_accuracy: 0.8545 - val_loss: 0.3447
Epoch 8/100
250/250  1s 4ms/step - accuracy: 0.8686 - loss: 0.3327 - val_accuracy: 0.8570 - val_loss: 0.3476
Epoch 9/100
250/250  1s 5ms/step - accuracy: 0.8639 - loss: 0.3270 - val_accuracy: 0.8580 - val_loss: 0.3496

In [22]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [23]:
## Loading the tensorboard 
%load_ext tensorboard

In [24]:
##%tensorboard -- logdir logs/fit20250519-182506
%tensorboard --logdir logs/fit/20250519-183058

Reusing TensorBoard on port 6008 (pid 11596), started 2 days, 19:30:18 ago. (Use '!kill 11596' to kill it.)

In [ ]:
## Loading the Pickle