In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras.models import load_model
import pickle

In [5]:
## Loading the files :- 
# trained model
# scaler pickle file
#one hot encoder pickle file

model = load_model('model.h5')

with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

with open('label_encoder_gender.pkl', 'rb') as f:
    label_encoder = pickle.load(f)

with open('ohe_geography.pkl', 'rb') as f:
    ohe_geography = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [6]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [7]:
geo_endcoded = ohe_geography.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_endcoded, columns=ohe_geography.get_feature_names_out(['Geography']))

d:\Tensorflow Working\.venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [9]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [12]:
input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [16]:
## Encode the categorical features
input_df['Gender'] = label_encoder.transform(input_df['Gender'])

ValueError: y contains previously unseen labels: 1

In [17]:
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [18]:
input_df = pd.concat([input_df.drop(['Geography'], axis=1), geo_encoded_df], axis=1)

In [20]:
## Scaling
input_scaler = scaler.transform(input_df)

In [21]:
input_scaler

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [23]:
prediction = model.predict(input_scaler)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 105ms/step

In [24]:
prediction

array([[0.0445013]], dtype=float32)

In [26]:
prediction_proba = prediction[0][0]

In [27]:
prediction_proba

np.float32(0.044501305)

In [28]:
if(prediction_proba > 0.5):
    print("The customer is likely to leave the bank.")
else:
    print("The customer is likely to stay with the bank.")

The customer is likely to stay with the bank.