In [1]:
## This time we will do regression on the balance we will predict the value of the income on based on the regression

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder,OneHotEncoder
import pickle

In [ ]:
data = pd.read_csv("Churn_Modelling.csv")

In [ ]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
data = data.drop(['RowNumber', 'CustomerId','Surname'],axis=1)

In [ ]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [ ]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [ ]:
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [ ]:
X = data.drop('EstimatedSalary',axis = 1)
Y = data['EstimatedSalary']
X_train, X_test, Y_train, Y_test =train_test_split(X,Y,random_state=42)

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)  
with open('one_hot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo,file)
    
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) ## Here activation function is linear activation function
    ])

d:\Tensorflow Working\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
model.compile(optimizer='adam', loss = 'mean_absolute_error', metrics=['mae'])
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regressionlog/fits/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [ ]:
history = model.fit(X_train, Y_train, epochs=100, batch_size=32, validation_split=0.2,
                    callbacks=[tensorboard_callback, early_stopping])

Epoch 1/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 5s 11ms/step - loss: 99442.2344 - mae: 99442.2344 - val_loss: 101327.9062 - val_mae: 101327.9062
Epoch 2/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 99417.7578 - mae: 99417.7578 - val_loss: 100677.3438 - val_mae: 100677.3438
Epoch 3/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 98258.9141 - mae: 98258.9141 - val_loss: 98841.5234 - val_mae: 98841.5234
Epoch 4/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 97912.8594 - mae: 97912.8594 - val_loss: 95452.0547 - val_mae: 95452.0547
Epoch 5/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 94352.3203 - mae: 94352.3203 - val_loss: 90472.7109 - val_mae: 90472.7109
Epoch 6/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 87993.7812 - mae: 87993.7812 - val_loss: 84032.1719 - val_mae: 84032.1719
Epoch 7/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 82036.7109 - mae: 82036.7109 - val_loss: 76929.0703 - val_mae: 76929.0703
Epoch 8/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 73698.2344 - mae: 73698.2344 - val_loss: 69877.3281 - val_mae: 69877.3281
Epoch 9/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 67452.3984 - mae: 67452.3984 - val_loss: 63606.0312 - val_mae: 63606.0312
Epoch 10/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 62326.6953 - mae: 62326.6953 - val_loss: 58644.8125 - val_mae: 58644.8125
Epoch 11/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 57496.0547 - mae: 57496.0547 - val_loss: 55089.2734 - val_mae: 55089.2734
Epoch 12/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 54638.1211 - mae: 54638.1211 - val_loss: 52826.9805 - val_mae: 52826.9805
Epoch 13/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 53090.8984 - mae: 53090.8984 - val_loss: 51516.9883 - val_mae: 51516.9883
Epoch 14/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 52099.8320 - mae: 52099.8320 - val_loss: 50796.2305 - val_mae: 50796.2305
Epoch 15/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 50893.1328 - mae: 50893.1328 - val_loss: 50420.5117 - val_mae: 50420.5117
Epoch 16/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 50120.7969 - mae: 50120.7969 - val_loss: 50216.8281 - val_mae: 50216.8281
Epoch 17/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49741.7930 - mae: 49741.7930 - val_loss: 50078.0156 - val_mae: 50078.0156
Epoch 18/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 50216.5195 - mae: 50216.5195 - val_loss: 49996.5547 - val_mae: 49996.5547
Epoch 19/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50072.9219 - mae: 50072.9219 - val_loss: 49944.0547 - val_mae: 49944.0547
Epoch 20/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 50040.8438 - mae: 50040.8438 - val_loss: 49906.5508 - val_mae: 49906.5508
Epoch 21/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49915.2383 - mae: 49915.2383 - val_loss: 49867.3594 - val_mae: 49867.3594
Epoch 22/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49458.0000 - mae: 49458.0000 - val_loss: 49832.9375 - val_mae: 49832.9375
Epoch 23/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50033.7500 - mae: 50033.7500 - val_loss: 49807.4570 - val_mae: 49807.4570
Epoch 24/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49540.5352 - mae: 49540.5352 - val_loss: 49782.4844 - val_mae: 49782.4844
Epoch 25/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49878.0938 - mae: 49878.0938 - val_loss: 49760.9336 - val_mae: 49760.9336
Epoch 26/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50262.8359 - mae: 50262.8359 - val_loss: 49746.2891 - val_mae: 49746.2891
Epoch 27/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49579.9180 - mae: 49579.9180 - val_loss: 49721.5469 - val_mae: 49721.5469
Epoch 28/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50246.9609 - mae: 50246.9609 - val_loss: 49702.7344 - val_mae: 49702.7344
Epoch 29/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49144.2188 - mae: 49144.2188 - val_loss: 49690.0039 - val_mae: 49690.0039
Epoch 30/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49819.1172 - mae: 49819.1172 - val_loss: 49677.6445 - val_mae: 49677.6445
Epoch 31/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49718.3242 - mae: 49718.3242 - val_loss: 49664.2500 - val_mae: 49664.2500
Epoch 32/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50219.8906 - mae: 50219.8906 - val_loss: 49651.2539 - val_mae: 49651.2539
Epoch 33/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49714.6797 - mae: 49714.6797 - val_loss: 49643.6523 - val_mae: 49643.6523
Epoch 34/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49984.9062 - mae: 49984.9062 - val_loss: 49632.5000 - val_mae: 49632.5000
Epoch 35/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49733.9492 - mae: 49733.9492 - val_loss: 49623.1797 - val_mae: 49623.1797
Epoch 36/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49395.6211 - mae: 49395.6211 - val_loss: 49615.0078 - val_mae: 49615.0078
Epoch 37/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 50021.9570 - mae: 50021.9570 - val_loss: 49607.0391 - val_mae: 49607.0391
Epoch 38/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49907.3633 - mae: 49907.3633 - val_loss: 49603.2812 - val_mae: 49603.2812
Epoch 39/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49998.8828 - mae: 49998.8828 - val_loss: 49595.6055 - val_mae: 49595.6055
Epoch 40/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49284.9570 - mae: 49284.9570 - val_loss: 49592.7773 - val_mae: 49592.7773
Epoch 41/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49946.7852 - mae: 49946.7852 - val_loss: 49587.4883 - val_mae: 49587.4883
Epoch 42/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49494.2500 - mae: 49494.2500 - val_loss: 49581.0234 - val_mae: 49581.0234
Epoch 43/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49535.6211 - mae: 49535.6211 - val_loss: 49573.3125 - val_mae: 49573.3125
Epoch 44/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 50371.7070 - mae: 50371.7070 - val_loss: 49571.8555 - val_mae: 49571.8555
Epoch 45/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50456.7539 - mae: 50456.7539 - val_loss: 49564.7852 - val_mae: 49564.7852
Epoch 46/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49871.3633 - mae: 49871.3633 - val_loss: 49561.8984 - val_mae: 49561.8984
Epoch 47/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49990.2148 - mae: 49990.2148 - val_loss: 49555.8789 - val_mae: 49555.8789
Epoch 48/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49842.3008 - mae: 49842.3008 - val_loss: 49552.3320 - val_mae: 49552.3320
Epoch 49/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49779.3789 - mae: 49779.3789 - val_loss: 49550.0117 - val_mae: 49550.0117
Epoch 50/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 49154.5938 - mae: 49154.5938 - val_loss: 49542.6602 - val_mae: 49542.6602
Epoch 51/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49399.5703 - mae: 49399.5703 - val_loss: 49540.6250 - val_mae: 49540.6250
Epoch 52/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 13ms/step - loss: 49619.4844 - mae: 49619.4844 - val_loss: 49540.4648 - val_mae: 49540.4648
Epoch 53/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49577.3555 - mae: 49577.3555 - val_loss: 49535.7812 - val_mae: 49535.7812
Epoch 54/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49816.9219 - mae: 49816.9219 - val_loss: 49532.7617 - val_mae: 49532.7617
Epoch 55/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50026.5469 - mae: 50026.5469 - val_loss: 49529.7070 - val_mae: 49529.7070
Epoch 56/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49152.5156 - mae: 49152.5156 - val_loss: 49526.8516 - val_mae: 49526.8516
Epoch 57/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49756.1797 - mae: 49756.1797 - val_loss: 49529.9805 - val_mae: 49529.9805
Epoch 58/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49582.3789 - mae: 49582.3789 - val_loss: 49526.3516 - val_mae: 49526.3516
Epoch 59/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49797.5664 - mae: 49797.5664 - val_loss: 49528.7695 - val_mae: 49528.7695
Epoch 60/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49407.0117 - mae: 49407.0117 - val_loss: 49527.8711 - val_mae: 49527.8711
Epoch 61/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 48744.1211 - mae: 48744.1211 - val_loss: 49528.9375 - val_mae: 49528.9375
Epoch 62/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49993.7812 - mae: 49993.7812 - val_loss: 49529.5586 - val_mae: 49529.5586
Epoch 63/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 50346.9922 - mae: 50346.9922 - val_loss: 49537.6641 - val_mae: 49537.6641
Epoch 64/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 49546.7852 - mae: 49546.7852 - val_loss: 49533.1797 - val_mae: 49533.1797
Epoch 65/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49112.2695 - mae: 49112.2695 - val_loss: 49542.0391 - val_mae: 49542.0391
Epoch 66/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49604.9062 - mae: 49604.9062 - val_loss: 49539.7500 - val_mae: 49539.7500
Epoch 67/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49566.0742 - mae: 49566.0742 - val_loss: 49540.0898 - val_mae: 49540.0898
Epoch 68/100
188/188 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49829.8633 - mae: 49829.8633 - val_loss: 49547.1289 - val_mae: 49547.1289

In [ ]:
%load_ext tensorboard

In [ ]:

%tensorboard --logdir regressionlogs/fits/20250530-115348

Reusing TensorBoard on port 6008 (pid 3400), started 0:00:02 ago. (Use '!kill 3400' to kill it.)

In [ ]:
test_loss,test_mae = model.evaluate(X_test, Y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

79/79 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 50966.3125 - mae: 50966.3125
Test Loss: 50157.37109375, Test MAE: 50157.37109375

In [ ]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.